
header {
    padding: 0 1%;
}

.backbtn{
    font-family: "GilroyBold";
    font-size: 14px;
    color: #53D6BF !important;
}

/* DETAILS */
.profilepic {
    width: 40%;
    margin-left: 5.5rem;
}
.details {
    width: 100%;
    margin: 10px;
}

.doctorDetails {
    font-size: 12px !important;
}

.validation-button{
    margin-top: 30px;
    margin-left: 40%;
    margin-right: 50%;
    border: 3px solid #53D6BF;
    background-color: white;
    font-weight: 600;
    font-size: 20px
}

table {
    border-collapse: collapse;
    height: auto;
    width: 100%;
    overflow: scroll;
  }

th,td {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

