
  .logo{
    height: auto;
    width: 10%;
  }
  
  #searchIcon{
    height: auto;
    width: 5%;
  }

  @font-face {
    font-family: GilroyBold;
    src: url("../fonts/Gilroy-ExtraBold.otf");
  }
    @font-face {
    font-family: GilroyRegular;
    src: url("../fonts/Gilroy-Light.otf");
  }

  * {
    font-family: "GilroyRegular";
  }

  body {
    max-width: 100%;
    min-height: 100%;
    margin: auto;
  }

  header {
    display: flex;
    height: auto;
    align-items: center;
    padding: 0 5%;
    justify-content: flex-end;
  }

  h1 {
    font-family: "GilroyBold"; 
    font-size: 36px;
    color: #272625;
    margin-left: 2%;
    display: line;
  }

  h2 {
    margin: 0 0 15px 0;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  table {
    border-collapse: collapse;
  }

  th,td {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }

  a {
    text-decoration: none;
  }

  .details {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .doctorDetails {
    font-size: 12px !important;
  }

  .backbtn{
    background-image: linear-gradient(230deg, #57E4B1 0%, #54CCBB 100%);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.10);
    border-radius: 4px;
    font-family: "GilroyBold";
    font-size: 14px;
    color: white !important;
    border: 1px solid #53D6BF;
  }

  .table{
    height: auto;
    width: auto;
    overflow: scroll;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }

    /* DETAILS */
  .profilepic {
    width: 37%;
  }
 /* DROPDOWN MENU */

 .dropbtn {
  background-color:white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  }

  .dropbtn:focus {
    outline: none !important;
    outline-color: white !important;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown a:hover {
    background-color: #20c997;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 3%;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:active {background-color: #20c997}

  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 3%;
  }  

  .dropdown:hover .dropbtn {
    background-color:white;
  }

 /* TOGGLE SWITCH */
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #20c997;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #20c997;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
 


